# Project exclude paths
/dongyimai-common/target/
/dongyimai-dao/target/
/dongyimai-pojo/target/
/dongyimai_cart_interface/target/
/dongyimai_cart_service/target/
/dongyimai_cart_web/target/
/dongyimai_content_interface/target/
/dongyimai_content_service/target/
/dongyimai_manager_web/target/
/dongyimai_page_interface/target/
/dongyimai_page_service/target/
/dongyimai_page_web/target/
/dongyimai_portal_web/target/
/dongyimai_search_interface/target/
/dongyimai_search_service/target/
/dongyimai_search_web/target/
/dongyimai_sellergoods_interface/target/
/dongyimai_sellergoods_service/target/
/dongyimai_shop_web/target/
/dongyimai_sms_service/target/
/dongyimai_sorl_util/target/
/dongyimai_user_interface/target/
/dongyimai_user_service/target/
/dongyimai_user_web/target/