<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
<!--声明静态资源不拦截-->
    <http pattern="/assets/img/favicon.ico" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <!--声明登录页面不拦截-->
    <http pattern="/login.html" security="none"/>

    <!--设置拦截规则-->
<http use-expressions="false">
    <intercept-url pattern="/**" access="ROLE_ADMIN"/>
    <form-login login-page="/login.html" default-target-url="/admin/index.html" always-use-default-target="true"/>
    <csrf disabled="true"/>
    <!--允许框架嵌套-->
    <headers>
        <frame-options policy="SAMEORIGIN"></frame-options>
    </headers>
    <!--配置退出登录-->
    <logout/>
</http>

    <!--设置认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="123" authorities="ROLE_ADMIN"/>
                <user name="test" password="123" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>