<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder ignore-unresolvable="true" location="classpath:properties/redis-config.properties" />
<!--   创建连接池属性-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
<!--        设置最大连接数-->
        <property name="maxTotal" value="${redis.maxIdle}"/>
<!--        空闲连接数-->
        <property name="maxIdle" value="${redis.maxIdle}"/>
<!--        获取连接等待时间-->
        <property name="maxWaitMillis" value="${redis.maxWait}"/>
<!--        是否测试-->
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>
<!--    创建连接工厂-->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
<!--        指定redis服务器地址-->
        <property name="hostName" value="${redis.host}"/>
<!--        设置连接端口-->
        <property name="port" value="${redis.port}"/>
<!--        设置密码-->
        <property name="password" value="${redis.pass}"/>
<!--        指定数据库-->
        <property name="database" value="${redis.database}"/>
<!--        设置连接池属性-->
        <property name="poolConfig" ref="poolConfig"/>

    </bean>

<!--    创建spring提供操作redis的模板工具类-->
<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
    <property name="connectionFactory" ref="jedisConnectionFactory"/>
</bean>

</beans>
