<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.offcn.page.listener"/>
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--声明要接收页面生成消息的主题-->
    <bean id="dongyimai_topic_page" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="dongyimai_topic_page"/>
    </bean>

    <!--创建要删除页面的消息主题-->
    <bean id="dongyimai_topic_delete_page" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="dongyimai_topic_delete_page"/>
    </bean>
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="dongyimai_topic_page"/>
        <property name="messageListener" ref="reciveCreatePageMessageListener"/>
    </bean>

    <!--配置监听删除页面消息主题监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
        <property name="destination" ref="dongyimai_topic_delete_page"/>
        <property name="messageListener" ref="reciveDeletePageMessageListener"/>
    </bean>

</beans>