<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/data/**" security="none"/>
    <http pattern="/font/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>

    <!--放行注册页面，和注册触发保存地址-->
    <http pattern="/register.html" security="none"/>
    <http pattern="/user/add.do" security="none"/>

    <http use-expressions="false" entry-point-ref="casAuthenticationEntryPoint">
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <form-login/>
        <logout/>
        <!--注册cas认证过滤器-->
        <custom-filter ref="casAuthenticationFilter" position="CAS_FILTER"/>
        <!--注册退出登录销毁session的过滤器-->
        <custom-filter ref="singleSignOutFilter" before="CAS_FILTER"/>
        <!--注册退出登录过滤器-->
        <custom-filter ref="logoutFilter" before="LOGOUT_FILTER"/>
    </http>

    <!--创建springSecurity整合Cas入口类-->
    <beans:bean id="casAuthenticationEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <!--配置cas server登录地址-->
        <beans:property name="loginUrl" value="http://192.168.188.128:9100/cas/login"/>
        <!--配置客户端地址-->
        <beans:property name="serviceProperties" ref="serviceProperties" />
    </beans:bean>



    <!--创建一个客户端对象-->
    <beans:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <beans:property name="service" value="http://localhost:9106/login/cas"/>
    </beans:bean>

    <!--配置cas认证过滤器，接管springsecurity的认证管理器-->
    <beans:bean id="casAuthenticationFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <!--接管spring Security的authentication-manager-->
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>


    <authentication-manager alias="authenticationManager">
        <authentication-provider  ref="casAuthenticationProvider" />
    </authentication-manager>

    <!--创建springsecurity认证实现类，cas和springsecurity联合处理类-->
    <beans:bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <!--属性1：票据验证工作，让cas server完成-->
        <beans:property name="ticketValidator">
            <!--配置cas server对象-->
            <beans:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <beans:constructor-arg index="0" value="http://192.168.188.128:9100/cas"/>
            </beans:bean>
        </beans:property>
        <!--属性2：配置springSecurity进行授权-->
        <beans:property name="authenticationUserDetailsService">
            <beans:bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <!--注入用户自己编写的自定义认证类-->
                <beans:constructor-arg ref="userDetailService"/>
            </beans:bean>
        </beans:property>
        <!--属性3：客户端属性-->
        <beans:property name="serviceProperties" ref="serviceProperties"/>
        <!--属性4：key的生成方式-->
        <beans:property name="key" value="an_id_for_this_auth_provider_only"/>
    </beans:bean>

    <!--声明自定义认证类-->
    <beans:bean id="userDetailService" class="com.offcn.user.service.UserDetailServiceImpl"/>

    <!--单点登录退出，负责销毁session的过滤器-->
    <beans:bean id="singleSignOutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>

    <!--配置退出springsecurity和cas的统一退出登录过滤-->
    <beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <!--配置退出登录要触发cas server的地址-->
        <beans:constructor-arg value="http://192.168.188.129:9100/cas/logout?service=http://localhost:9103"/>
        <!--配置退出springsecurity-->
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
        </beans:constructor-arg>
        <!--配置实际退出地址-->
        <beans:property name="filterProcessesUrl" value="/logout/cas"/>
    </beans:bean>
</beans:beans>